.container {
    display: flex;
    flex-direction: row;
}

.col {
    margin: 1rem;
    margin-top: 4rem;
}

.myCard {
    margin-bottom: 1rem;
}

img {
    border-radius: 10px;

}

img:hover {
    transition: 0.2s;
}

.mid img {
    height: 591.5px;
}

.myCardText {
    margin-top: 200px;
}

.mid-card-text {
    margin-top: 505px;
}